@model StudentViewModel

<form method="post">
    <div class="mb-2">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="Dob" class="form-label"></label>
        <input asp-for="Dob" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="Gender" class="form-label"></label>
        <input asp-for="Gender" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="Program" class="form-label"></label>
        <input asp-for="Program" class="form-control">
    </div>
    <div class="mb-2">
        <label asp-for="Semester" class="form-label"></label>
        <input asp-for="Semester" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Add Student</button>
</form>