@model List<string>
@foreach (var name in Model)
{
    <p>@name</p>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>phone</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bishnu Rawal</td>
            <td>damak</td>
            <td>544454</td>
            <td>prigesh.basnet@gmail.com</td>
        </tr>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>phone</th>
            <th>email</th>
        </tr>
        <tr>
            <td>Bishnu Rawal</td>
            <td>damak</td>
            <td>544454</td>
            <td>prigesh.basnet@gmail.com</td>
        </tr>

    </tbody>
</table>